<ion-side-menus ng-controller="MainCtrl">

    <ion-side-menu-content>
        <ion-header-bar class="bar-positive">
            <button class="button button-icon ion-navicon" ng-click="toggleLeft()"
                    ng-hide="$exposeAside.active"></button>
            <button class="button button-icon icon ion-search" ng-click="openSearch()"></button>
            <h1 class="title">ES-IMAGE</h1>
            <div class="buttons">
                <button class="button button-icon ion-plus-round" ng-click="openIndex()"/>
            </div>

        </ion-header-bar>
        <div class="bar bar-subheader" ng-show="$root.searchResults.length>0">
            <label class="item item-input ">
                <div class="input-label" >
                    SIMILARITY({{$root.similarity}}%)
                </div>
                <div class="row item item-input-inset">
                    <div class="col-80">
                        <div class="range" >
                            <i class="icon ion-minus-round"></i>
                            <input type="range" name="volume" ng-model="$root.similarity">
                            <i class="icon ion-plus-round"></i>
                        </div>
                    </div>
                </div>
            </label>
        </div>
        <ion-content class="padding" class="has-header has-subheader">
            <!--
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <button class="button button-icon icon ion-search" ng-click="login()"></button>
        </ion-nav-buttons>
        -->

            <ion-list>
                <ion-item ng-repeat="searchResult in $root.searchResults | rangeFilter:'_score':$root.similarity">
                    <div class="item item-divider">
                        {{$index}}.{{searchResult._id}}
                    </div>
                    <a class="item item-thumbnail-left" href="#">
                        <img ng-show="searchResult._source.my_img !=null" ng-src="data:image/gif;base64,{{searchResult._source.my_img}}" style="width: 64px;height: 64px;"  zoom-src="data:image/gif;base64,{{searchResult._source.my_img}}" zoom-view/>

                        <h2>score:{{searchResult._score}}</h2>

                        <p>FEATURE:CEDD</p>
                    </a>
                </ion-item>
            </ion-list>

        </ion-content>
    </ion-side-menu-content>

    <ion-side-menu expose-aside-when="large">
        <ion-header-bar class="bar-stable">
            <h1 class="title" >GALLARY</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item ng-repeat="queryAll in queryAllList">
                    <div class="item item-divider">
                        {{queryAll._id}}
                    </div>
                    <img ng-show="queryAll._source.my_img !=null" ng-src="data:image/gif;base64,{{queryAll._source.my_img}}" style="width: 64px;height: 64px;" zoom-src="data:image/gif;base64,{{queryAll._source.my_img}}" zoom-view/>
                    <button class="button button-icon icon ion-link" ng-click="$root.searchExistedBtnClickHandler(queryAll._id)"></button>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>